{% extends 'base.html' %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Machine Learning Based Marketing</h1>
    <p class="lead"><br>Welcome to Machine Learning Based Marketing!<br>
With the power of advanced machine learning, our application is a cutting-edge solution to analyze and interpret complex datasets. Our user-friendly platform transforms your raw data into a trove of insightful and actionable information.<br>

Whether you're a data scientist, a marketer, or a curious amateur, our tool simplifies the process of data clustering. Simply upload your dataset, and let our advanced machine learning models take care of the rest. The platform efficiently identifies, processes, and groups your data into three distinct clusters. These clusters help uncover patterns, trends, and commonalities in your data, giving you a comprehensive understanding of the information at hand.<br>

But that's not all! Our tool not only provides a powerful clustering solution, but also visualizes your data using dynamic plots and robust statistics. This feature allows you to interpret your data more intuitively, encouraging smarter and more data-driven decisions.<br></p>
    </div>
    <div style="text-align: right; padding: 10px;">
        <h3>Developers:<br>
        Almasyan Sanasar<br>
        Tyuplyaev Nikita<br>
        Yakunin Ivan<br>
        </h3>
    </div>


{% endblock content %}